.App {
  text-align: center;
}
.input{
  width:80%;
  height:2rem;
  padding:0.5rem 1rem;
  
}
.flex{
  display:flex;
  padding:0.5rem;
  justify-content: center;
}
.emoji{
  font-size: 2rem;
  padding:0.5rem 1rem;
  cursor: pointer;
}
.display{
  font-weight: bold;
  margin: 0.75rem 0rem;
  font-size: 20px;
}